# macOS
.DS_Store

# VSCode
.vscode/codepush.json

# Xcode
builds/
xcuserdata/
*.ipa
*.dSYM.zip

# Bundler
bundler-vendor/

# Carthage
ios/Carthage/Checkouts/

# Node
node_modules/
yarn-error.log

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# Bundle artifacts
*.jsbundle
*.jsbundle.meta

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml

# Buck
buck-out/
\.buckd/
*.keystore
